# Descriptive statistics for news data

In [14]:
import pandas as pd
import textstat

In [15]:
df_finance = pd.read_csv(r'C:\Users\Sten\Documents\EUR BAM\Thesis\data\news\finance_processed.csv')
df_sport = pd.read_csv(r'C:\Users\Sten\Documents\EUR BAM\Thesis\data\news\sport_processed.csv')
df_election = pd.read_csv(r'C:\Users\Sten\Documents\EUR BAM\Thesis\data\news\election_processed.csv')
df_general = pd.read_csv(r'C:\Users\Sten\Documents\EUR BAM\Thesis\data\news\general_processed.csv')

In [16]:
df_finance

,index,date,url,author,title,topic,summary,q
0,0,2023-04-18 18:30:00,blogtalkradio.com,Vernas Help Metroplex Buzz,The Role of a Finance Controller in Upton,news,The finance controller's responsibilities incl...,finance OR financial
1,1,2023-04-17 03:30:00,scoop.co.nz,Find More,The Basics Of Business Finance: A Comprehensiv...,news,"Monday, 17 April 2023, 2:01 pm Press Release...",finance OR financial
2,2,2023-04-25 11:53:28,techbullion.com,Ali Bajwa,Finance Courses: The Gateway to Your Financial...,news,Are you struggling with managing your personal...,finance OR financial
3,3,2023-04-22 07:35:49,ghanaweb.com,NaN,Financial literacy key to SMEs' access to funding,news,The Executive Director at the Centre for Finan...,finance OR financial
4,4,2023-04-22 00:00:00,mdpi.com,Yuting Tu,Game Theory Analysis of Chinese DC/EP Loan and...,science,"School of Economics and Management, University...",finance OR financial
...,...,...,...,...,...,...,...,...
2602,4894,2023-05-15 20:03:05,khaleejtimes.com,Somshankar Bandyopadhyay,Mohamed Bin Hadi Al Hussaini rings market-open...,business,"Published: Tue 16 May 2023, 12:03 AM ...",finance OR financial
2603,4895,2023-04-21 17:00:29,bitcoinist.com,Review Site,The rise of Shiba Inu confirms that tokens lik...,news,The cryptocurrency market is full of surprises...,finance OR financial
2604,4896,2023-04-18 20:15:00,reliefweb.int,NaN,Chief Operations/Finance Manager,economics,The Role We are seeking to recruit an experie...,finance OR financial
2605,4897,2023-04-20 00:00:00,globenewswire.com,Tecnoglass Inc.,Tecnoglass Announces Long Term Strategic Partn...,news,"Barranquilla, Colombia, April 20, 2023 (GLOBE ...",finance OR financial
2606,4899,2023-05-09 22:02:22,thescottishsun.co.uk,Ryan Rowe,Rangers in recruitment drive for key new role ...,news,RANGERS are on the search for a new finance ch...,finance OR financial

In [4]:
df_sport

,index,date,url,author,title,topic,summary,q
0,0,2023-04-28 06:00:26,usatoday.com,Alyssa Barbieri,2023 NFL draft: See the full order of picks fo...,news,"The 2023 NFL draft is finally here, and team...",sport OR sports
1,1,2023-04-27 08:27:48,usatoday.com,Alyssa Barbieri,2023 NFL draft: See the full order of picks fo...,news,"The 2023 NFL draft is finally here, and team...",sport OR sports
2,2,2023-04-28 16:55:57,yahoo.com,Jarrett Bailey,"2023 NFL mock draft: Second, third-round proje...",news,Well wasn't that something. The first round of...,sport OR sports
3,3,2023-04-19 12:42:05,mlb.com,NaN,MLB joins Coalition for Responsible Sports Bet...,news,The formation of the Coalition for Responsible...,sport OR sports
4,4,2023-04-29 12:25:09,thehindu.com,Amol Karhadkar,Rahul Dravid: Sport plays huge role in learnin...,business,Admitting that his current role of being the I...,sport OR sports
...,...,...,...,...,...,...,...,...
2976,4991,2023-04-27 14:00:26,thegatewaypundit.com,Jim Hoft,Real Women in Sports Need Real Protections fro...,news,Michigan's Rep. Rachelle Smit Guest Op-Ed by...,sport OR sports
2977,4995,2023-04-29 19:34:32,parentology.com,Alexis Nicols,Breaking the Mold: Leslie Bonci on Keeping Gir...,news,Girls are quitting sports at a higher rate tha...,sport OR sports
2978,4996,2023-05-12 23:57:54,celebritiesdeaths.com,Ajede Udam,Sienna Weir Horse Riding Accident : Sienna Wei...,news,The Risks and Dangers of Equestrian Sports: A ...,sport OR sports
2979,4998,2023-04-27 19:36:18,openpr.com,Allied Market Research,Fitness and Recreational Sports Centers Market...,news,Fitness and Recreational Sports Centers Market...,sport OR sports
2980,4999,2023-04-27 11:54:36,pinkvilla.com,Priyanka Goud,Ram Charan's next with director Buchi Babu San...,entertainment,Ram Charan has teamed up with Uppena director...,sport OR sports

In [17]:
df_election

,index,date,url,author,title,topic,summary,q
0,0,2023-04-18 13:14:09,yahoo.com,David Montesino,Heider Garcia stepped down as county elections...,news,Heider Garcia's time as Tarrant County electio...,election OR elections
1,1,2023-04-17 22:07:17,yahoo.com,Church,Elected leaders express support for outgoing T...,news,Tarrant County elected officials expressed sup...,election OR elections
2,2,2023-04-20 08:30:00,msn.com,President-elect,"Tinubu Speaks On Supplementary Elections, Dema...",news,Mr Tinubu urged the winners to brace up to ser...,election OR elections
3,3,2023-04-17 01:00:00,thenews.com.pk,Hassan Siddiq,Punjab's suffrage,news,The federal government of Pakistan has staunch...,election OR elections
4,4,2023-04-17 22:45:54,yahoo.com,Harrison Mantas,â€˜Embarrassing for Texas.' Tarrant election chi...,news,Tarrant County election administrator Heider G...,election OR elections
...,...,...,...,...,...,...,...,...
3048,4993,2023-05-02 12:30:00,msn.com,Julie Carr Smyth,New ID rules in place for Ohio May 2 election,news,"Ohio voters will head to the polls Tuesday, Ma...",election OR elections
3049,4994,2023-04-18 12:05:00,ny1.com,Associated Press,Lawsuit against Fox News for false election cl...,news,Jurors are set to get their first look Tuesday...,election OR elections
3050,4995,2023-04-18 20:07:01,yahoo.com,Ryan Bort,"Fox News Settles Dominion Case, Avoiding Publi...",news,Fox News has settled with Dominion Voting Syst...,election OR elections
3051,4998,2023-04-25 14:00:00,mg.co.za,Ismail Joosub,Electoral Bill: Missed opportunities and uncon...,news,The new Electoral Amendment Act was signed int...,election OR elections
3052,4999,2023-04-20 09:18:20,timesnownews.com,Shivani,Srirangapatna: Will JD (S) Continue Its Four-T...,news,Karnataka Assembly Elections 2023 | Representa...,election OR elections

## Statistics

In [18]:
df_finance['date'] = pd.to_datetime(df_finance['date'])
df_sport['date'] = pd.to_datetime(df_sport['date'])
df_election['date'] = pd.to_datetime(df_election['date'])

In [19]:
df_finance['url'].value_counts()

yahoo.com                172
zawya.com                 63
reliefweb.int             52
einnews.com               50
indiatimes.com            39
                        ...
dailyhodl.com              1
federalwaymirror.com       1
dazeinfo.com               1
thenews-chronicle.com      1
thescottishsun.co.uk       1
Name: url, Length: 817, dtype: int64

In [22]:
df_finance['word_count'] = df_finance['summary'].str.split().str.len()
df_finance['flesch_kincaid'] = df_finance['summary'].apply(textstat.flesch_reading_ease)

df_sport['word_count'] = df_sport['summary'].str.split().str.len()
df_sport['flesch_kincaid'] = df_sport['summary'].apply(textstat.flesch_reading_ease)

df_election['word_count'] = df_election['summary'].str.split().str.len()
df_election['flesch_kincaid'] = df_election['summary'].apply(textstat.flesch_reading_ease)

df_general['word_count'] = df_general['summary'].str.split().str.len()
df_general['flesch_kincaid'] = df_general['summary'].apply(textstat.flesch_reading_ease)

In [23]:
df_general[['word_count', 'flesch_kincaid']].describe()

        word_count  flesch_kincaid
count  7345.000000     7345.000000
mean     95.280871       46.228471
std      13.292245       22.006553
min      56.000000      -89.930000
25%      87.000000       35.310000
50%      94.000000       49.490000
75%     103.000000       61.400000
max     181.000000       93.540000

In [25]:
df_finance['date'].min()
#df_finance['date'].max()

Timestamp('2023-04-16 13:33:00')

In [8]:
df_election['url'].value_counts()

msn.com                        92
yahoo.com                      91
manchestereveningnews.co.uk    61
headtopics.com                 49
legit.ng                       48
                               ..
fox26houston.com                1
nationthailand.com              1
leftfootforward.org             1
wwaytv3.com                     1
mg.co.za                        1
Name: url, Length: 783, dtype: int64

In [4]:
df_finance['url'].value_counts()

yahoo.com                172
zawya.com                 63
reliefweb.int             52
einnews.com               50
indiatimes.com            39
                        ...
dailyhodl.com              1
federalwaymirror.com       1
dazeinfo.com               1
thenews-chronicle.com      1
thescottishsun.co.uk       1
Name: url, Length: 817, dtype: int64

In [24]:
df_sport['url'].value_counts()

yahoo.com              220
usatoday.com           180
openpr.com             124
bolavip.com             65
skysports.com           58
                      ...
post-journal.com         1
mercurynews.com          1
timeslive.co.za          1
ahmedabadmirror.com      1
pinkvilla.com            1
Name: url, Length: 910, dtype: int64

In [5]:
df_general['url'].value_counts()

yahoo.com                   1450
msn.com                     1183
mdpi.com                    1053
dailymail.co.uk              357
indiatimes.com               258
                            ...
denverpost.com                 1
esa.int                        1
nba.com                        1
theregister.com                1
sandiegouniontribune.com       1
Name: url, Length: 227, dtype: int64

## older news data

In [2]:
df_old = pd.read_csv(r'C:\Users\Sten\Documents\EUR BAM\Thesis\data\old_news\old_news_processed.csv')

In [3]:
df_old

,Unnamed: 0,class,title,text
0,0,3,Carlyle Looks Toward Commercial Aerospace (Reu...,Reuters - Private investment firm Carlyle Grou...
1,1,3,Oil and Economy Cloud Stocks' Outlook (Reuters),Reuters - Soaring crude prices plus worries\ab...
2,2,3,Iraq Halts Oil Exports from Main Southern Pipe...,Reuters - Authorities have halted oil export\f...
3,3,3,"Oil prices soar to all-time record, posing new...","AFP - Tearaway world oil prices, toppling reco..."
4,4,3,"Stocks End Up, But Near Year Lows (Reuters)",Reuters - Stocks ended slightly higher on Frid...
...,...,...,...,...
119994,119994,1,Pakistan's Musharraf Says Won't Quit as Army C...,KARACHI (Reuters) - Pakistani President Perve...
119995,119995,2,Renteria signing a top-shelf deal,Red Sox general manager Theo Epstein acknowled...
119996,119996,2,Saban not going to Dolphins yet,The Miami Dolphins will put their courtship of...
119997,119997,2,Today's NFL games,PITTSBURGH at NY GIANTS Time: 1:30 p.m. Line: ...
119998,119998,2,Nets get Carter from Raptors,INDIANAPOLIS -- All-Star Vince Carter was trad...

In [4]:
df_old['word_count'] = df_old['text'].str.split().str.len()
df_old['flesch_kincaid'] = df_old['text'].apply(textstat.flesch_reading_ease)

In [5]:
df_old[['word_count', 'flesch_kincaid']].describe().to_clipboard()

## GPT 3 and 4 statistics

In [6]:
df_gpt3 = pd.read_csv(r'C:\Users\Sten\Documents\EUR BAM\Thesis\data\ChatGPT\gpt_3_processed.csv')
df_gpt4 = pd.read_csv(r'C:\Users\Sten\Documents\EUR BAM\Thesis\data\ChatGPT\gpt_4_processed.csv')

In [7]:
df_gpt3

      index                                               text  label
0         0  Behold, a virgin shall conceive, and bear a so...      0
1         1  John Fetterman, center, the mayor of Braddock,...      0
2         2  Who is Alec Torelli?\n\nAlec Torelli has a uni...      0
3         3  The year is 2084. If you somehow survived the ...      0
4         4  AUSTIN, United States â€” "Rejections." That's w...      0
...     ...                                                ...    ...
1197    596  An environmental organization launches a globa...      1
1198    597  A virtual reality education platform transform...      1
1199    598  Countries collaborate to address a regional pu...      1
1200    599  The film industry celebrates diverse represent...      1
1201    600  Health authorities approve a groundbreaking ge...      1

[1202 rows x 3 columns]

In [10]:
df_gpt3['word_count'] = df_gpt3['text'].str.split().str.len()
df_gpt3['flesch_kincaid'] = df_gpt3['text'].apply(textstat.flesch_reading_ease)
df_gpt4['word_count'] = df_gpt4['text'].str.split().str.len()
df_gpt4['flesch_kincaid'] = df_gpt4['text'].apply(textstat.flesch_reading_ease)

In [12]:
df_gpt4[['word_count', 'flesch_kincaid']].describe().to_clipboard()